<%- include('./partials/adminHeader') %>
<style>
    #category-error{
        color: red;
    }
    #categoryAlert{
        color: red;
    }
    
</style>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/adminAsset/imgs/theme/eyetrek.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderPage"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userManagement"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/categoryPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offerPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/popularProductPage"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Popular Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/bestCategoryPage"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Best Categories</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/topBrandPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Top Brands</span>
                    </a>
                </li>
            </ul>
            <hr>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Category</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form action="/admin/categoryUpdate?id=<%= category._id %>" method="post" id="categoryForm">
                                <div class="mb-4">
                                    <%if(category){%>
                                    <label class="form-label">Selected Category</label>
                                   
                                    <input type="text" id="categoryName" name="categoryName" value ="<%=category.name%>" placeholder="Type here" class="form-control">
                                    <span id="category-error"><%= error  %></span>
                                </div>
                                <div class="mb-4">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        </section> <!-- content-main end// -->
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById('categoryForm');
    const categoryName = document.getElementById('categoryName');
    const categoryError = document.getElementById('category-error');

    form.addEventListener('submit', (event) => {
        let isValid = true;

        const categoryPattern = /^[^\d]+$/;
        if (!categoryPattern.test(categoryName.value)) {
            isValid = false;
            categoryError.textContent = 'Invalid Category';
        } else {
            categoryError.textContent = '';
        }

        if (!isValid) {
            event.preventDefault();
        }
    });
});
        const categoryAlert= document.getElementById('categoryAlert')
        setTimeout(()=>{
            categoryAlert.style.display='none';
        },3000)
        </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <%- include('./partials/adminFooter') %>
