<%- include('./partials/adminHeader') %>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/adminAsset/imgs/theme/eyetrek.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderPage"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userManagement"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categoryPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offerPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/popularProductPage"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Popular Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/bestCategoryPage"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Best Categories</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/topBrandPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Top Brands</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div> 
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                </div>
                <div>
                    <a href="/admin/addCoupon" class="btn btn-primary"><i class="material-icons md-plus"></i>Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Coupon Code</th>
                                    <th>Description</th>
                                    <th>%</th>
                                    <th>Up to</th>
                                    <th>Max amount</th>
                                    <th>Exp date</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (coupons.length > 0) { %>
                                    <% coupons.forEach(coupon => { %>
                                        <tr>
                                            <td><%= coupon.coupon_code %></td>
                                            <td><%= coupon.description %></td>
                                            <td><%= coupon.percentage %></td>
                                            <td><%= coupon.minimumAmount %></td>
                                            <td><%= coupon.maximumAmount %></td>
                                            <td><%= formatDate(coupon.expiryDate) %></td>
                                            <td>
                                                <% if (coupon.isListed) { %>
                                                    <span class="text-success">Listed</span>
                                                <% } else { %>
                                                    <span class="text-danger">Unlisted</span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <% if (coupon.isListed) { %>
                                                    <a class="badge rounded alert-danger"  onclick="blockCoupon('<%= coupon._id %>')">Unlist</a>
                                                <% } else { %>
                                                    <a class="badge rounded alert-success"  onclick="unblockCoupon('<%= coupon._id %>')">List</a>
                                                <% } %>
                                                <a href="/admin/editCoupon?couponId=<%= coupon._id %>" class="badge rounded alert-secondary">Edit</a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="8">No coupons available.</td>
                                    </tr>
                                <% } %>
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="pagination-area mt-30 mb-50">
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                                    <a class="page-link" href="/couponList?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </section>        
    </main>
    <% 
        function formatDate(date) {
            const options = { year: 'numeric', month: 'short', day: 'numeric' };
            return new Date(date).toLocaleDateString(undefined, options);
        }
    %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function blockCoupon(couponId) {
            try {
                const response = await fetch('/admin/coupon/block', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ couponId })
                });
    
                const result = await response.json();
                if (result.success) {
                    // Handle successful blocking
                    Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Coupon Unlisted",
                    showConfirmButton: false,
                    timer: 1500
                    });
                    // Optionally, refresh the coupon list or update the UI accordingly
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    });
                }
            } catch (error) {
                console.error('Error blocking the coupon:', error);
                alert('An error occurred while blocking the coupon.');
            }
            setTimeout(()=>{
                window.location.reload()
            },1000)
        }
    
        async function unblockCoupon(couponId) {
            try {
                const response = await fetch('/admin/coupon/unblock', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ couponId })
                });
    
                const result = await response.json();
                if (result.success) {
                    // Handle successful unblocking
                    Swal.fire({
                    position: "center",
                    icon: "success",
                    title: "Coupon Listed",
                    showConfirmButton: false,
                    timer: 1500
                    });
                    // Optionally, refresh the coupon list or update the UI accordingly
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    });
                }
            } catch (error) {
                console.error('Error unblocking the coupon:', error);
                alert('An error occurred while unblocking the coupon.');
            }
            setTimeout(()=>{
                window.location.reload()
            },1000)
        }
    </script>    
</body>
<%- include('./partials/adminFooter') %>
        