<%- include('./partials/adminHeader') %>
<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/public/adminAsset/imgs/theme/eyetrek.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/adminHome"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/orderPage"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userManagement"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/categoryPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/offerPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Offers</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/couponPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/popularProductPage"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Popular Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/bestCategoryPage"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Best Categories</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/topBrandPage"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Top Brands</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div> 
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin/adminLogout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Offer Details</h2>
                <div>
                    <a href="/admin/createOffer" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <% if (offers.length > 0) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Discounted product and category</th>
                                    <th>Status</th>
                                    <th>Discount Type</th>
                                    <th>Discount Value</th>
                                    <th class="text-end">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-light tr">
                                <% offers.forEach((offer, i) => { %>
                                <tr>
                                    <td width="40%">
                                        <a href="#" class="itemside">
                                            <div class="info pl-3">
                                                <h6 class="mb-0 title"><%= offer.name %></h6>
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        <% if (offer.discountOn === 'category') { %>
                                            <%= categoryMap[offer.discountedCategory] %>
                                        <% } else if (offer.discountOn === 'product') { %>
                                            <%= productMap[offer.discountedProduct] %>
                                        <% } %>
                                    </td>
                                    <td><span class="badge rounded-pill <%= offer.isActive ? 'alert-success' : 'alert-warning' %>"><%= offer.isActive ? 'Active' : 'Blocked' %></span></td>
                                    <td><%= offer.discountType %></td>
                                    <td><%= offer.discountValue %></td>
                                    <td class="text-end">
                                        <a href="/admin/offerToggle?offerId=<%= offer._id %>" class="btn btn-sm btn-brand rounded font-sm mt-15"><%= offer.isActive ? 'Block' : 'Activate' %></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>                                                       
                        </table>
                        <% } else { %>
                        <h1 class="text-center text-secondary mt-5">No offers found in the database</h1>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<%- include('./partials/adminFooter') %>
        